.navbar {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    justify-content: space-between;
    align-items: center;
    /* border: 4px red solid; */
    background-color: rgb(252, 251, 250);
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgb(223, 211, 211);
}

.f {
    text-align: center;
    font-size: 70px;
    background: linear-gradient(180deg, #161414 0%, #b6b4bb 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;

    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

body {
    margin: 0px;
    font-family: "Lato", sans-serif;

}

.pic {
    display: flex;
    /* //   border: 4px red solid; */
    justify-content: space-around;
    font-size: 35px;
    font-weight: 800;
}

.pic img {
    object-fit: contain;
    padding: 0 10px;

}

.spn {
    color: rgb(192, 9, 40);
}

.item {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    list-style: none;
    width: 40%;
    align-items: center;
    /* border: 4px red solid; */
    font-size: 25px;

}

.item a {
    text-decoration: none;

}



.item img {
    width: 30px;
    padding-left: 10px;
}

.yt {
    display: flex;
    justify-content: space-between;
    /* border: 4px red solid; */
    padding: 15px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    margin-right: 5px;
}

.txt p {
    font-size: 70px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px !important;

    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

}

.first {
    display: flex;
    justify-content: center;
    max-width: 1400px;
    /* border: 2px rgb(20, 15, 15) solid; */
    /* background-color: rgb(201, 162, 162); */
    margin: 0 auto;
    justify-content: space-between;
    /* border: 2px #0f0f0f solid; */

    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;


}

.pic2 {
    /* border: 2px, solid red; */
    width: 100%;
    /* background-color: #8758F1; */

}

.txt {
    padding-left: 0px;
    /* border:2px solid #0f0f0f; */

}

.txt h1 {
    margin: 0px !important;
    padding: 0px !important;
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

}

.txt li {
    list-style: none;
    font-size: 20px;
    color: rgb(99, 96, 96);
    margin-bottom: 0px;
    font-weight: 500;
}

.sign {
    background-color: #f948b2;
    padding: 20px 30px;
    border-radius: 40px;
    color: white;
    font-weight: 600;
    border: none;
    margin-right: 15px;

}

.go {
    background-color: rgb(56, 183, 233);
    padding: 20px 30px;
    border-radius: 40px;
    color: white;
    font-weight: 600;
    border: none;
}

.icon1,
.icon2,
.icon3 {
    object-fit: cover;
    display: flex;
    align-items: center;
    gap: 10px;


}

.icon1 {
    padding-top: 10px;
}

.icon3 {
    padding-bottom: 20px;
}

.second {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    /* margin-top: 100px; */
    font-family: "Lato", sans-serif;
    justify-content: space-between;
    /* border: 4px red solid; */
    background-color: rgb(252, 251, 250);
    border-radius: 5px;
    /* box-shadow: 2px 5px 5px 1px rgb(223, 211, 211); */
    margin-bottom: 150px;
}

.p1 {
    font-size: 70px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: right;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.p2 {
    text-align: end;
    color: #515055;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 509;

}

.know {
    background-color: #f948b2;
    padding: 20px 35px;
    border-radius: 42px;
    color: white;
    font-weight: 600;
    border: none;
    margin-top: 20px;

}

.btn {
    display: flex;
    justify-content: flex-end;

}

.p3 {
    font-size: 25px;
    text-align: right;

}

.p4 {
    margin: 0px !important;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 800;
}

.game {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    justify-content: center;
    align-items: center;
    /* border: 10px rgb(56, 211, 8) solid; */
    background-color: rgb(252, 251, 250);
    border-radius: 5px;
    flex-direction: column;
    margin-top: 50px;


}

.p5 {
    color: #0a0a0a;
    font-size: 55px;
    font-weight: 800;
    margin: 0px !important;

}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.box {
    display: flex;
    width: 100%;
    justify-content: space-between;

    /* border: 4px red solid; */
}

.video {
    width: 100%;
    /* border: 4px red solid; */

}

.p6 {
    margin: 0px !important;
    color: #6d6d6e;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}

.video {
    /* margin-right: 10px; */
    margin-top: 50px;

}

.box img {
    width: 95%;
}

.p7 {
    color: gray;
}

.c {
    width: 100%;
    margin-right: 10px;
}

/* kk */
.p7 {

    color: rgb(119, 116, 116);
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
}

.play {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 10px rgb(56, 211, 8) solid; */
    gap: 205px;

}

.txt3 {
    /* border: 10px rgb(5, 7, 5) solid;  */
    text-align: left;
    margin-bottom: 300px;


}

.x5 {
    font-size: 40px;
    font-family: Work Sans;
}

.pic4 {
    display: flex;
    width: 95%;
}

.pc4 {
    /* border: 10px rgb(56, 211, 8) solid;  */
    border-radius: 10px;
    margin-top: 30px;

}

.pic5 {
    position: relative;
    left: 500px;
    bottom: 230px;
    margin: 0px;
}

.icon-features {
    /* border: 10px rgb(24, 31, 22) solid; */
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;

}

.btn {}

.icon4 {
    display: flex;
    /* background-color: #9793a3; */
    border-radius: 40px;
    padding: 5px 10px;
    gap: 10px;
    cursor: pointer;
}

.p9 {
    font-weight: 600;
    font-size: 20px;
    color: rgb(75, 57, 57)
}

.icon4:hover {
    background-color: #e4e3e9;
    border: #0a0a0a 1px solid;
    color: #F948B2;
}

.icon4:hover .p9 {
    color: blue;
}

.foot {
    background: #0B0223;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    padding: 1px 1px 1px 1px;

}

.x6 {
    color: white;
    font-size: 30px;
}

.pic6 {
    display: flex;

    /* //   border: 4px red solid; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 35px;
    font-weight: 800;

    padding: 20px 2px;
}

.pic6 img {
    width: 80px;
    height: 40px;

}

.list1 {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    color: aliceblue;
    font-size: 17px;

}

.list1 li a {
    color: whitesmoke;
    text-decoration: none;
}

.list2 li a {
    color: rgb(189, 191, 194);
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

.icon5 {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px 5px 10px 100px;

}

.icon5 img {
    width: 32px;
    cursor: pointer;
}

.a {
    color: #f948b2;
}

.list2 {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
    margin-top: 50px;
    font-size: 10px;

}

.p0 {
    color: #9793a3;
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}

/* joy */

@media screen and (max-width: 768px) {

    .navbar {
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        box-shadow: none;
        background-color: none;
    }

    .pic {
        font-size: 20px;
    }

    .pic img {
        object-fit: contain;
        width: 50px;
    }

    .item {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        list-style: none;
        width: 30%;
        align-items: center;
        /* border: 4px red solid; */
        font-size: 15px;
        gap: 10px;

    }

    .item img {
        width: 20px;
        height: 20px;
        padding-left: 10px;
    }

    .yt {
        display: flex;
        justify-content: space-between;
        width: 150px;
        /* border: 4px red solid; */
        padding: 10px;
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);
        margint: 5px 10px;
    }

    .first {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        max-width: 500px;
        /* border: 2px rgb(20, 15, 15) solid; */
        /* background-color: rgb(201, 162, 162); */
        /* margin: 0 auto; */
        /* justify-content: space-between; */
        /* border: 2px #0f0f0f solid; */

        align-items: center;
        margin-top: 30px;
        margin: 90px;
        gap: 60px;
        /* padding-bottom: 200px; */


    }

    .pic2 {
        /* border: 2px, solid red; */
        width: 100%;
        /* background-color: #8758F1; */

    }

    .txt p {

        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px !important;

        text-align: center;
        font-family: Work Sans;
        font-size: 50px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;

    }

    .txt h1 {
        margin: 0px !important;
        padding: 0px !important;
        color: #0B0223;
        text-align: center;
        font-family: Work Sans;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;

    }

    .txt li {
        margin: 0 auto !important;
        list-style: none;
        font-size: 12px;
        color: rgb(99, 96, 96);
        font-weight: 500;
    }

    .sign {
        background-color: #f948b2;
        padding: 10px 20px;
        border-radius: 40px;
        color: white;
        font-weight: 500;
        border: none;
        font-size: 15px;

    }

    .go {
        background-color: rgb(56, 183, 233);
        padding: 10px 20px;
        border-radius: 40px;
        color: white;
        font-weight: 500;
        border: none;
        font-size: 15px;

    }

    .second {
        display: flex;
        max-width: 500px;
        flex-direction: column;
        /* margin-top: 100px; */
        font-family: "Lato", sans-serif;
        justify-content: center;
        /* border: 4px red solid; */
        align-items: center;
        border-radius: 5px;
        /* box-shadow: 2px 5px 5px 1px rgb(223, 211, 211); */
    }

    .pic3 {
        width: 70%;
        margin-left: 40px;
        border: none;
    }

    .p1 {
        font-size: 70px;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        text-align: center;
        font-family: Work Sans;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .know {
        background-color: #f948b2;
        padding: 10px 25px;
        border-radius: 42px;
        color: white;
        font-weight: 600;
        border: none;
        margin-top: 20px;
        font-size: 15px;
        text-align: center;

    }

    .txt2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .p2 {
        color: #515055;
        font-family: Work Sans;
        font-size: 10px;
        font-weight: 500;
        line-height: 105x;
        width: 300px;
        text-align: center;
        margin-left: 0px;
    }

    .p3 {
        font-size: 25px;
        text-align: center;

    }

    .p4 {
        margin: 0px !important;
        color: #534C64;
        text-align: center;
        font-family: Work Sans;
        font-size: 18px;
        font-weight: 800;
    }

    .game {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        font-family: "Lato", sans-serif;
        justify-content: center;
        align-items: center;
        /* border: 10px rgb(56, 211, 8) solid; */
        border-radius: 5px;
        flex-direction: column;

    }

    .p5 {
        color: #0a0a0a;
        font-size: 20px;
        font-weight: 800;
        text-align: center;
        margin: 0px !important;
    }

    .p6 {
        margin: 0px !important;
        color: #6d6d6e;
        text-align: center;
        font-family: Work Sans;
        font-size: 10px;
        font-weight: 600;
        padding-top: 20px
    }

    .box {
        display: flex;
        flex-direction: column;
        width: 70%;
        justify-content: center;
        align-items: center;

        /* border: 4px red solid; */
    }

    .video {
        width: 80%;
        height: 60%;
        /* border: 4px red solid; */

    }

    .play {
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        /* border: 10px rgb(56, 211, 8) solid; */
        flex-direction: column-reverse;
        gap: 0px
    }

    .txt3 {
        /* border: 10px rgb(5, 7, 5) solid;  */
        text-align: center;
        margin: 0px;
        padding: 0px;


    }

    .x5 {
        font-size: 20px;
        font-family: Work Sans;
    }

    .pic4 {
        display: flex;
        justify-content: center;
        width: 75%;
        height: 230px;
    }

    .pc4 {
        /* border: 10px rgb(56, 211, 8) solid;  */
        border-radius: 10px;
        margin-left: 70px;

    }

    .p8 {
        font-size: 10px;

        color: black;
    }

    .icon4:hover {
        background-color: #edebf3;
        color: #F948B2
    }




    .pic5 {
        position: relative;
        left: 170px;
        width: 35%;
        bottom: 70px;
        margin: 0px;
    }

    .icon-features {
        /* border: 10px rgb(24, 31, 22) solid; */
        max-width:500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap:0px;
        padding-bottom: 5px;
        
    }

    .icon4 {
        display: flex;
        /* background-color: #9793a3; */
        border-radius: 40px;
        padding:0px;
        gap: 2px;
        cursor: pointer;
        padding: 5px;
    }

    .p9 {
        font-weight: 600;
        font-size: 5px;
        color: #0B0223;
    }

    .icon4 img {
        width: 20%;
    }

    icon4:hover {
        background-color: #e4e3e9;
        border: #0a0a0a 1px solid;
        color: #F948B2;
    }

    .icon4:hover .p9 {
        color: blue;
    }

    .f {
        text-align: center;
        font-size: 70px;
        background: linear-gradient(180deg, #161414 0%, #b6b4bb 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 40px;

        text-align: center;
        font-family: Work Sans;
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin: 0px;
        margin-bottom: 5px;
    }

    .foot {
        background: #0B0223;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 0px;
    }

    .x6 {
        color: white;
        font-size: 30px;
    }

    .pic6 {
        display: flex;

        /* //   border: 4px red solid; */
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 15px;
        font-weight: 00;

        padding: 0px 2px;
    }

    .list1 {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 10px;
        color: aliceblue;
        font-size: 12px;
        font-weight: 600;

    }

    .list2 li a {
        color: rgb(189, 191, 194);
        font-weight: 500;
        text-decoration: none;
        list-style: none;
    }
    .icon5 {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-right: 80px;
    
    }
    .bb{
        display: none;    
    }
    .list2 {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 20px;
        margin-top: 20px;
        font-size: 8px;
    
    }
    .p0 {
        color: #9793a3;
        text-align: center;
        margin-top: 20px;
        font-size: 10px;
    }
    


}

